:root {
  --color-primary: #A98B76;
  --color-secondary: #BFA28C;
  --color-light: #F3E4C9;
  --color-accent: #BABF94;
  --color-dark: #0F172A;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}