

.nav-container {
  background-color: var(--color-secondary);
  padding: 15px 5%;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 35px;
  font-weight: 800;
  color: var(--color-dark);
  font-family: 'BlackerScript', serif;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: var(--color-dark);
  font-weight: 500;
  cursor: pointer;
}

/* Hover par tere palette ka light color use kiya hai */
.nav-item:hover {
  color: #0000004c;
}

.nav-auth-desktop {
  display: flex;
  gap: 15px;
}

.nav-auth-mobile { display: none; }

.btn-signup {
  padding: 8px 25px;
  border: 2px solid var(--color-dark);
  border-radius: 50px;
  color: var(--color-dark);
  font-weight: 600;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: var(--color-primary); /* Palette color */
  color: var(--color-light);
}

.btn-login {
  padding: 10px 30px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
}

.btn-login:hover {
  background-color: var(--color-primary); /* Palette color */
}

/* --- Responsive & Hamburger --- */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.line {
  width: 25px;
  height: 3px;
  background-color: var(--color-dark);
  transition: 0.3s;
}

@media (max-width: 850px) {
  .hamburger { display: flex; }
  
  .nav-auth-desktop { display: none; }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-secondary);
    flex-direction: column;
    padding: 20px 0;
    display: none;
    border-top: 1px solid var(--color-primary);
  }

  .nav-links.open { display: flex; }

  .nav-auth-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  /* Hamburger X animation */
  .hamburger.active .line:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
  .hamburger.active .line:nth-child(2) { opacity: 0; }
  .hamburger.active .line:nth-child(3) { transform: rotate(-45deg) translate(5px, -6px); }
}